<div class="av-widget">
    <h1 class="av-widget__heading">Where does it come from? Why do we use it?</h1>
    <div class="av-widget__body">
        <p class="av-widget-caption">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.
        </p>
        <form class="av-widget-form">
            <div class="av-widget-form__pickers">
                <div class="av-widget-form__picker">
                    <input id="av-date-picker-start" class="av-date-picker-input" type="text" placeholder="Depart date" aria-label="Depart date">
                    <img class="av-widget-calendar-icon av-widget-icon" src="../../assets/calendar.svg" alt="Calendar icon"
                         aria-hidden="true">
                </div>
                <div class="av-widget-form__picker">
                    <input id="av-date-picker-end" class="av-date-picker-input" type="text" placeholder="Return date"
                           aria-label="Return date">
                    <img class="av-widget-calendar-icon av-widget-icon" src="../../assets/calendar.svg" alt="Calendar icon"
                         aria-hidden="true">
                </div>
            </div>
            <button class="av-btn" type="submit">Search</button>
        </form>
    </div>
</div>
