:root {
  --color-blue: #4A90E2;
  --color-orange: #F5A623;
  --color-white: #fff;
  --bp-wide: 768px;
  --bp-narrow: 440px;
  --bp-narrowest: 320px;
}

$bp-wide: 768px;
$bp-narrow: 440px;
$bp-narrowest: 320px;
