@import "reset";
@import "variables";

.av-widget {
  background-color: var(--color-blue);
  min-width: 200px;
  max-width: 1024px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 5px 20px 15px 20px;

  &__heading {
    font-size: 24px;
    @media screen and (max-width: $bp-narrow) {
      font-size: 18px;
    }
  }

  &__body {
    margin-top: 18px;
    display: flex;

    @media screen and (max-width: $bp-wide) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .av-widget-caption {
    font-size: 10px;
    flex-basis: 25%;
    margin-right: 20px;

    @media screen and (max-width: $bp-wide) {
      margin-top: 20px;
      margin-bottom: 16px;
    }

    @media screen and (max-width: $bp-narrowest) {
      order: 1;
    }
  }
}

.av-widget-form {
  display: flex;
  justify-content: space-between;
  flex-basis: 75%;

  @media screen and (max-width: $bp-narrow) {
    flex-direction: column;
  }

  &__pickers {
    display: flex;
    flex-basis: 66.3333%;
    margin-right: 20px;
    @media screen and (max-width: $bp-narrow) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    @media screen and (max-width: $bp-narrowest) {
      flex-direction: column;
    }
  }

  &__picker {
    position: relative;
    flex-basis: 50%;
    height: 40px;


    &:not(:last-child) {
      margin-right: 20px;
    }

    @media screen and (max-width: $bp-narrowest) {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__submit {
    background-color: var(--color-orange);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 20px;
    min-height: 40px;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    flex-basis: 33.3333%;
  }
}

.av-widget-date-picker {
  width: 100%;
  height: 100%;
}

.av-widget-icon {
  height: 16px;
  width: 16px;
}

.av-widget-calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
